<%- include("header") -%>

<h1>Isso é sobre a página</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia quae, dolor facere asperiores molestias sequi et adipisci cum dolores voluptate quisquam nostrum consequatur, sint, iusto aliquam voluptatem tenetur numquam impedit.</p>

<%- include("footer") -%>